################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Parking/bin/Debug/netcoreapp2.1
/src/Parking/obj
/.vs/Parking
/src/ParkingCSharp
